<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\GitServer.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" requestTimeout="00:20:00" />
			<security>
				<requestFiltering>
					<fileExtensions>
						<remove fileExtension=".cs" />
						<add fileExtension=".cs" allowed="true" />
					</fileExtensions>
					<!-- IIS default is ~28.6MB; git pushes (large repos/binaries) need much more room -->
					<requestLimits maxAllowedContentLength="4294967295" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
